.top{
	color: white;
	background-color: grey;
	text-align: right;
}

.Right{
	border: 1px solid gray;
	background-color: lightgray;
	text-align: center;
}

.Orange{
	border: 1px solid gray;
	color: white;
	text-align: center;
	background-color: orange;
}